.searchBar {
  display: inline-block;
}

input {
  width: 450px;
  outline: none;
  border-radius: 20px;
  padding: 10px 30px;
  border: none;
}

h1 {
  color: black;
  text-decoration: underline;
  font-weight: 100;
  margin-bottom: 50px;
}

.main-header {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  outline: none;
  border: none;
  height: 35px;
  border-radius: 20px;
  padding: 0 20px;
  color: white;
  background-color: deepskyblue;
  margin-left: 10px;
}
button:hover {
  cursor: pointer;
  background-color: rgb(57, 203, 252);
}

.card {
  margin: 20px auto;
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.26);
  width: 50%;
  border-radius: 10px;
}
