* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-image: url("/src/assets/background.jpg");
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

footer {
  text-align: center;
  font-weight: bold;
  color: gray;
  margin-top: 100px;
}

@media only screen and (max-width: 600px) {
  body {
    color: red;
  }
}
